@using Data.ViewModel;
@using DataLayer;
@using PagedList
@using PagedList.Mvc;
@model AboutUsAddViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card border-dark">
        <div class="card-header bg-dark text-white">
            <span>
                @MasterWebApp.Resource.AboutUs.title
            </span>

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "AboutUs", FormMethod.Get))
            {
                <div>

                    <div class="form-group col-lg-6 col-12">
                        <label>
                            @MasterWebApp.Resource.AboutUs.Search
                        </label>
                        <div>
                            @Html.TextBox("search", null, new { @class = "form-control col-12" })
                        </div>
                    </div>





                    <div class="form-group col-md-4 col-12" style="padding-top:30px;">

                        <button class="btn btn-outline-dark"  type="submit" value="seacher">
                            <i class="fas fa-search"></i>
                            @MasterWebApp.Resource.CommonMessage.btnSubmit

                        </button>
                        <div class="btn-group ">
                            <a href="@Url.Action("Index", "AboutUs", new { area = "Admin" })" class="btn btn-primary">
                                <i class="fas fa-sync-alt"></i>
                                @MasterWebApp.Resource.CommonMessage.btnRestore
                            </a>
                        </div>
                    </div>
                </div>

            }


            <div style=" clear:both;border-top:1px solid rgba(220, 220, 220, 0.76); padding-top:20px;">

                <div class="form-group col-lg-8 col-12">
                    @Html.Partial("_AboutUsList")
                </div>

                <div class="form-group col-lg-4 col-12">
                    @Html.Partial("_AboutUsAddEdit")
                </div>

            </div>

        </div>
    </div>



</div>


<hr />

<div class="pr-4 pl-4 divPage d-flex flex-row flex-grow-1 ">
    @Html.PagedListPager(Model.AboutUsAll, page => Url.Action("Index", new { page, search=Request.QueryString["search"] })
, new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })


</div>
